<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="/style">
    </head>
    <body>
        <main>
            <h1>
                Cats
            </h1>
            <div style="display: flex; flex-direction: column;">
                <a href="/<%= miaus[0].name %>">
                    <img style="height: auto; width: 300px; margin-bottom: 10px;" class="image_home" src="<%= miaus[0].image %>" alt="cat image">
                </a>
                <a href="/<%= miaus[1].name %>">
                    <img style="height: auto; width: 300px; margin-bottom: 10px;" class="image_home" src="<%= miaus[1].image %>" alt="cat image2">
                </a>
                <a href="/<%= miaus[2].name %>">
                    <img style="height: auto; width: 300px; margin-bottom: 10px;" class="image_home" src="<%= miaus[2].image %>" alt="cat image2">
                </a>
            </div>

            <% for(let i = 0; i < miaus.length; i++){ %>
                <a href="/<%= miaus[i].name %>">
                    <img style="height: auto; width: 300px; margin-bottom: 10px;" class="image_home" src="<%= miaus[i].image %>" alt="cat image">
                </a>
            <% } %>

        </main>
    </body>
</html>